body {
    font-size: 16px;
}

#header {
    background: #222;
    padding-top: 20px;
    vertical-align: middle;
    color: white;
    border-bottom: #11639d solid thick;
    margin-bottom: 20px;
}

#header h2 {
    color: white;
}

#albums {

}

#albums h4 {
    border-bottom: #222, solid, thin
}

#albums li {
    padding-left: 10px;
}

#albums .year{
    cursor: pointer;
}

#copyright {
    font-size: 11px;
    float: right;
    vertical-align: bottom;
    text-align: right;
}

.envelope {
    vertical-align: -20%;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: white;
    width: 20px;
}

gallery.ad-gallery {
    width: 100%;
}

.ad-gallery .ad-image-wrapper {
    height: 600px;
    margin-top: 20px;
}