.container
  .row
    .three.columns
      #albums
        %h3 Albums
        %ul
          =render(:partial => 'albums', :collection => @albums)
    .nine.columns
      #images
        =image_tag @albums[0].images[0].path