:javascript
  $(function() {
      var galleries = $('.ad-gallery').adGallery({
        });
      $('#toggle-slideshow').click(
        function() {
          galleries[0].slideshow.toggle();
          return false;
        }
      );
      $('#toggle-description').click(
        function() {
          if(!galleries[0].settings.description_wrapper) {
            galleries[0].settings.description_wrapper = $('#descriptions');
          } else {
            galleries[0].settings.description_wrapper = false;
          }
          return false;
        }
      );
    });

.container
  .row
    .three.columns
      #albums
        %h3 Albums
        %ul
          =render(:partial => 'album', :collection => @albums.values)
    .nine.columns
      -if @album
        #gallery.ad-gallery
          .ad-controls
          .ad-nav
            .ad-thumbs
              %ul.ad-thumb-list
                -counter = 0
                -@album.images.each do |image|
                  %li
                    %a{:href => "data/#{image.path}"}
                      %img{:src => "data/#{image.thumb_path}", :width => '100px', :title => image.title, :alt => image.desc, :class => "image#{counter+=1}"}
          .ad-image-wrapper

      -else
        Please select an album on the left menu

