:javascript
  $(function() {
      var galleries = $('.ad-gallery').adGallery({
        });
      $('#toggle-slideshow').click(
        function() {
          galleries[0].slideshow.toggle();
          return false;
        }
      );
      $('#toggle-description').click(
        function() {
          if(!galleries[0].settings.description_wrapper) {
            galleries[0].settings.description_wrapper = $('#descriptions');
          } else {
            galleries[0].settings.description_wrapper = false;
          }
          return false;
        }
      );
    });

.container
  .row
    .three.columns
      #albums
        %h3 Albums
        -@albums.keys.each do |year|
          %p=year
          %ul
            =render(:partial => 'album', :collection => @albums[year])
    .nine.columns
      -if @album
        -if @album.description
          .alert-box=@album.description
          - content_for :title do
            =@album.description
            | RubyStand
        #gallery.ad-gallery
          .ad-image-wrapper
          .ad-controls
          .ad-nav
            .ad-thumbs
              %ul.ad-thumb-list
                -@album.images.each do |image|
                  %li
                    %a{:href => "data/#{image.path}"}
                      %img{:src => "data/#{image.thumb_path}", :width => '100px', :title => image.title, :class => image.name}


      -else
        Please select an album on the left menu

